

    <!-- check-out -->
    <div class="container">
        <div class="check">
            <div class="col-md-12 cart-total">
                <a class="continue" href="#">Continue to basket</a>
                <div class="price-details">
                    <h3>Price Details</h3>
                    <span>Total items</span>
                    <span class="total1">@Session["items"]</span>
                    <span>Discount</span>
                    <span class="total1">10%(Festival Offer)</span>
                    <span>Total Bill</span>
                    <span class="total1">@Session["price"]</span>
                    <div class="clearfix"></div>
                </div>
                @{ 
                    int price =(int) Session["price"];
                }
                <ul class="total_price">
                    <li class="last_price"> <h4>TOTAL DISCOUNTED PRICE</h4></li>
                    <li class="last_price"><span>@(price-(0.1*price))</span></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                <a class="order" href="~/Home/index">Add More</a>
                
            </div>
           
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //check-out -->
   