@{
    if (@ViewBag.Message != "")
    {
        <h1>@ViewBag.Message</h1>
    }
}

    <div class="banner">
        <div class="container">
            <!-- Slider-starts-Here -->
            <script src="~/scripts/responsiveslides.min.js"></script>
            <script>
				    // You can also use "$(window).load(function() {"
				    $(function () {
				      // Slideshow 4
				      $("#slider3").responsiveSlides({
				        auto: true,
				        pager: false,
				        nav: true,
				        speed: 500,
				        namespace: "callbacks",
				        before: function () {
				          $('.events').append("<li>before event fired.</li>");
				        },
				        after: function () {
				          $('.events').append("<li>after event fired.</li>");
				        }
				      });

				    });
            </script>
            <!--//End-slider-script -->
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="banner-info">
                            <div class="banner-info1">
                                <div class="banner-inf">
                                    <h1>Online Book MarketPlace</h1>
                                    <h2>OBM.com</h2>
                                    <p>
                                        Readings, the largest online bookshop in Pakistan, has a huge
                                        variety of New and Used books in all trade, English ,Urdu and 
                                        Islamic litrature
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info">
                            <div class="banner-info1">
                                <div class="banner-inf">
                                    <h1>Your Own Books Place</h1>
                                    <p>
                                        Bookstore to shopping for best selling latest books in Pakistan,
                                        Signup Today to start buying your required books.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info">
                            <div class="banner-info1">
                                <div class="banner-inf">
                                    <h1>Passion for Books</h1>
                                    <p>
                                        You'll find books about everything in this selection 
                                        of sought-after titles.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- cate -->
    <div class="cate">
        <div class="container">
            <div class="cate-left">
                <h3>Books<span>Our Catelog</span></h3>
            </div>
            <div class="cate-right">
                <!-- slider -->
                <ul id="flexiselDemo1">
                    <li>
                        <div class="sliderfig-grid">
                            <img src="~/Image/43.png" alt=" " class="img-responsive" style="height:200px ; width :200px "/>
                        </div>
                    </li>
                    <li>
                        <div class="sliderfig-grid">
                            <img src="~/Image/islt.jpg" alt=" " class="img-responsive" style="height:200px ; width: 200px"/>
                        </div>
                    </li>
                    <li>
                        <div class="sliderfig-grid">
                            <img src="~/Image/n5.jpg" alt=" " class="img-responsive" style="height:200px ; width: 200px"/>
                        </div>
                    </li>
                    <li>
                        <div class="sliderfig-grid">
                            <img src="~/Image/n10.jpg" alt=" " class="img-responsive" style="height:200px ; width: 200px" />
                        </div>
                    </li>
                </ul>
                <script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: {
										portrait: {
											changePoint:480,
											visibleItems: 3
										},
										landscape: {
											changePoint:640,
											visibleItems:4
										},
										tablet: {
											changePoint:768,
											visibleItems: 3
										}
									}
								});

							});
                </script>
                <script type="text/javascript" src="~/scripts/jquery.flexisel.js"></script>
            </div>
            <!-- //slider -->
            <div class="clearfix"> </div>
        </div>
    </div>
   
    <!-- welcome -->
    <div class="welcome">
        <div class="container">
            <div class="welcome-info">
                <h3>Welcome To Our Store!</h3>
                <h3></h3>
                
            </div>
        </div>
    </div>
   
    <div class="banner-bottom">
        <div class="container">
            <div class="product-one">
                <div class="col-md-2 product-left">
                    <div class="p-one simpleCart_shelfItem jwe">
                       
                        <a href="~/Home/single">
                            <img src="~/Image/29.jpg" alt="" class="img-responsive" style="height:200px ; width: 200px" />
                          
                        </a>
                        <div class="product-left-cart">

                            <div class="clearfix"> </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-md-2 product-left">
                    <div class="p-one simpleCart_shelfItem jwe">
                        <a href="~/Home/single">
                            <img src="~/Image/islt.jpg" alt="" class="img-responsive" style="height:200px ; width: 200px"/>
                          
                        </a>
                        <div class="product-left-cart">

                            <div class="clearfix"> </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-2 product-left">
                    <div class="p-one simpleCart_shelfItem jwe">
                        <a href="~/Home/single">
                            <img src="~/Image/n3.jpg" alt="" class="img-responsive" style="height:200px ; width: 200px" />
                            
                        </a>
                        <div class="product-left-cart">
                           
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 product-left">
                    <div class="p-one simpleCart_shelfItem jwe">
                        <a href="~/Home/single">
                            <img src="~/Image/ac2.jpg" alt="" class="img-responsive" style="height:200px ; width: 200px" />
                            
                        </a>
                        <div class="product-left-cart">
                            
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 product-left">
                    <div class="p-one simpleCart_shelfItem jwe">
                        <a href="~/Home/single">
                            <img src="~/Image/38.png" alt="" class="img-responsive" style="height:200px ; width: 200px"/>
                           
                        </a>
                        <div class="product-left-cart">
                            
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 product-left">
                    <div class="p-one simpleCart_shelfItem jwe">
                        <a href="~/Home/single">
                            <img src="~/Image/et4.jpg" alt="" class="img-responsive" style="height:200px ; width: 200px" />
                            
                        </a>
                        <div class="product-left-cart">
                           
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
          
        </div>
    </div>
    <!-- //banner-bottom -->
    